
############################################
# API GATEWAY
############################################
API_GATEWAY_PORT=8102
############################################
# AUTH SERVICE
############################################
AUTH_SERVICE_APP_PORT=8103
AUTH_SERVICE_SQL_URL=jdbc:postgresql://postgres:5432/VEHICLE_AUTH_DB
AUTH_SERVICE_SQL_USER=auth_user
AUTH_SERVICE_SQL_PASSWORD=auth_pass
AUTH_SERVICE_JWT_TOKEN_SENDER=auth-service

############################################
# DISPATCH SERVICE
############################################

DISPATCH_SERVICE_APP_PORT=8105
DISPATCH_SERVICE_SQL_URL=jdbc:postgresql://postgres:5432/VEHICLE_DISPATCH_DB
DISPATCH_SERVICE_SQL_USER=dispatch_user
DISPATCH_SERVICE_SQL_PASSWORD=dispatch_pass


############################################
# LOGGING SERVICE
############################################
LOGGING_SERVICE_APP_PORT=8104
LOGGING_SERVICE_MONGO_URL=mongodb://mongo-logging:27017/loggingdb


############################################
# VEHICLE SERVICE
############################################
VEHICLE_SERVICE_APP_PORT=8106
VEHICLE_SERVICE_SQL_URL=jdbc:postgresql://postgres:5432/VEHICLE_VEHICLE_DB
VEHICLE_SERVICE_SQL_USER=vehicle_user
VEHICLE_SERVICE_SQL_PASSWORD=vehicle_pass


############################################
# SHARED CONFIG
############################################

MESSAGE_TYPE=queue
API_INTERNAL_KEY=YOUR_APPLICATIONS_INTERNAL_KEY

JWT_SECRET=YOUR_APPLICATIONS_JWT_SECRET
JWT_EXP=3600000 # 1 hour YOU CAN SET THIS TO ANY TIME YOU WANT


# Service URLs
API_GATEWAY_URL=http://api-gateway:8102
LOGGING_SERVICE_URL=http://logging-service:8104
DISPATCH_SERVICE_URL=http://dispatch-service:8105
AUTH_SERVICE_URL=http://auth-service:8103
VEHICLE_SERVICE_URL=http://vehicle-service:8106


AUTO_PORT_URL=http://user-auto-port:3001
ADMIN_DESK_URL=http://admin-desk:3000




# RabbitMQ Configuration
RABBITMQ_URL=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

############################################
# SHARED POSTGRES CONFIG
############################################
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_pass




############################################
# FRONT END (GLOBAL CONFIGURATIONS)
############################################

NEXT_PUBLIC_MAP_STYLE=https://tiles.openfreemap.org/styles/liberty

BASE_URL=http://localhost:8102

############################################
# FRONT END (ADMIN DESK)
############################################


NEXT_PUBLIC_SPRING_LOCAL_ADMIN_LOGIN_BACKEND=/v1/auth/admin/welcome-back
NEXT_PUBLIC_SPRING_LOCAL_ADMIN_SIGNUP_BACKEND=/v1/auth/admin/new-user/join-us


NEXT_PUBLIC_SPRING_ADMIN_COOKIE_VALIDATE=/v1/auth/admin/validate-cookie
NEXT_PUBLIC_ADMIN_VALIDATE_ADMIN_KEY=/v1/auth/admin/validate-key

NEXT_PUBLIC_ADMIN_LOG_OUT=/v1/auth/admin/log-out

NEXT_PUBLIC_VALIDATE_DISPATCH_URL=/v1/admin/dispatch/validate

NEXT_PUBLIC_CANCEL_ADMIN_DISPATCH_URL=/v1/admin/dispatch/admin-cancel
NEXT_PUBLIC_GET_ALL_DISPATCH_ADMIN_URL=/v1/admin/dispatch/validate
NEXT_PUBLIC_MARK_FOR_MAINTENANCE=/v1/admin/vehicle/mark-for-maintenance
NEXT_PUBLIC_ADMIN_VEHICLE_BASE_URL=/v1/admin/vehicle

NEXT_PUBLIC_ADMIN_DISPATCH_BASE_URL=/v1/admin/dispatch
NEXT_PUBLIC_NOTIFICATION_BASE_URL=/v1/admin/notifications



############################################
# FRONT END (USER AUTO PORT)
############################################

NEXT_PUBLIC_MAP_STYLE=https://tiles.openfreemap.org/styles/liberty

NEXT_PUBLIC_USER_COOKIE_NAME=userDeskToken


NEXT_PUBLIC_SPRING_LOCAL_USER_SIGNUP_BACKEND=/v1/auth/user/new-user/join-us
NEXT_PUBLIC_SPRING_LOCAL_USER_LOGIN_BACKEND=/v1/auth/user/welcome-back


NEXT_PUBLIC_SPRING_USER_COOKIE_VALIDATE=/v1/auth/user/validate-cookie
NEXT_PUBLIC_SPRING_GET_MY_DATA=/v1/auth/user/get-me

NEXT_PUBLIC_USER_LOG_OUT=/v1/auth/user/log-out

NEXT_PUBLIC_NOTIFICATION_BASE_URL=/v1/user/notifications


NEXT_PUBLIC_VEHICLES_BASE_URL=/v1/user/vehicle
NEXT_PUBLIC_USER_DISPATCH_BASE_URL=/v1/user/dispatch
NEXT_PUBLIC_USER_TRACKING_BASE_URL=/v1/user/tracking

BASE_URL=http://localhost:8102

NEXT_PUBLIC_COST_PER_DAY=500
