*.zip
docker-compose.yml
HELP.md
.gradle
build/**
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.gitignore




# General
*.log
*.swp
*.bak
.DS_Store
.idea/
.vscode/
*.iml
/bin/
/build/
/target/
out/
logs/

# Gradle specific
.gradle/
gradle-app.setting
!gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
build/
!src*/build/

# Dependency cache
**/src/test/tmp/

# Spring Boot specific
**/application.properties
**/application.yml
**/application-local*.yml
!**/src/main/resources/application*.yml

# Java
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

# Env files
.env
*.env
secrets/

# Build Scan
.scans/

# Local configuration
**/src/main/resources/config/local/

# Exclude build directories but keep source build configs
**/build/
!settings.gradle
!build.gradle
!gradle/
!gradlew
!gradlew.bat

***/.idea/


/.idea/**