NEXT_PUBLIC_MAP_STYLE=https://tiles.openfreemap.org/styles/liberty


NEXT_PUBLIC_SPRING_LOCAL_ADMIN_LOGIN_BACKEND=http://localhost:8102/v1/auth/admin/welcome-back


NEXT_PUBLIC_SPRING_LOCAL_ADMIN_SIGNUP_BACKEND=http://localhost:8102/v1/auth/admin/new-user/join-us


NEXT_PUBLIC_SPRING_ADMIN_COOKIE_VALIDATE=http://localhost:8102/v1/auth/admin/validate-cookie
NEXT_PUBLIC_ADMIN_VALIDATE_ADMIN_KEY=http://localhost:8102/v1/auth/admin/validate-key

NEXT_PUBLIC_ADMIN_LOG_OUT=http://localhost:8102/v1/auth/admin/log-out
NEXT_PUBLIC_VALIDATE_DISPATCH_URL=http://localhost:8102/v1/admin/dispatch/validate


NEXT_PUBLIC_ADMIN_COOKIE_NAME=adminDeskCookie
NEXT_PUBLIC_CANCEL_ADMIN_DISPATCH_URL=http://localhost:8102/v1/admin/dispatch/admin-cancel
NEXT_PUBLIC_GET_ALL_DISPATCH_ADMIN_URL=http://localhost:8102/v1/admin/dispatch/validate
NEXT_PUBLIC_MARK_FOR_MAINTENANCE=http://localhost:8102/v1/admin/vehicle/mark-for-maintenance
NEXT_PUBLIC_ADMIN_VEHICLE_BASE_URL=http://localhost:8102/v1/admin/vehicle

NEXT_PUBLIC_ADMIN_DISPATCH_BASE_URL=http://localhost:8102/v1/admin/dispatch
NEXT_PUBLIC_NOTIFICATION_BASE_URL=http://localhost:8102/v1/admin/notifications

BASE_URL=BASE_UR=http://localhost:8102

