@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


@font-face {
  font-family: "Futura Heavy";
  src: url("/fonts/Futura-Heavy-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura Medium BT";
  src: url("/fonts/futura medium bt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



:root {
  --radius: 0.625rem;
  --background: oklch(92.49% 0.000 89.88);  /* hsl(210, 20%, 98%) */;
  --background2: oklch(90.97% 0.000 89.88); /* hsl(210, 20%, 95%) */ 
  --foreground:oklch(19.69% 0.013 18.34); /* hsl(220, 13%, 8%) */
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);


  /* my values */

  /* Fonts */


  --font-futura-heavy: "Futura Heavy", sans-serif;
  --font-futura-medium: "Futura Medium BT", sans-serif;
  --font-roboto: "Roboto", sans-serif;

  /* Spacing */
  --space-xxs: min(2vw, 0.25rem);
  --space-xs: min(4vw, 0.5rem);
  --space-sm: min(6vw, 1rem);
  --space-sm-1: min(6vw, 1.2rem);
  --space-sm-2: min(6vw, 1.8rem);
  --space-sm-3: min(6vw, 2rem);
  --space-md: min(10vw, 3.2rem);
  --space-md-2: min(10vw, 3.8rem);
  --space-md-3: min(10vw, 4rem);
  --space-lg: min(12vw, 6rem);;
  --space-xl: min(12vw, 8rem);
  --space-xxl: min(12vw, 12rem);
  --space-xxxl: min(14vw, 14rem);

 /* Sizes */
  --size-xxs: min(2vw, 0.75rem);
  --size-xs: min(8vw, 0.5rem);
  --size-sm: min(8vw, 1rem);
  --size-sm-1: min(8vw, 1.2rem);
  --size-sm-2: min(8vw, 1.8rem);
  --size-sm-3: min(8vw, 2rem);
  --size-md: min(12vw, 3.2rem);
  --size-md-2: min(12vw, 3.8rem);
  --size-md-3: min(12vw, 4rem);
  --size-lg: min(10vw, 6rem);
  --size-xl: min(12vw, 8rem);
  --size-xxl: min(14vw, 12rem);
  --size-xxxl: min(16vw, 14rem); 

  /* Font Sizes */
  --font-xxs: min(2vw, 0.25rem);
  --font-xs: min(2vw, 0.5rem);
  --font-small: min(4vw, 0.8rem);
  --font-body:  min(4vw, 1rem);
  --font-normal: min(6vw, 1.8rem);
  --font-medium: min(8vw, 2rem);
  --font-subheading: min(10vw, 2.8rem);
  --font-heading: min(10vw, 4rem);


  --font-large: min(14vw, 4.8rem);
  --font-xlarge: min(16vw, 5.4rem);


  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;

  /* Line Heights */
  --line-tight: 1.2;
  --line-normal: 1.5;
  --line-loose: 1.6;
  --line-looser: 1.8;
  --line-loosest: 2;


}

.dark {
  --background:  oklch(21.78% 0.000 89.88);   /* hsl(210, 20%, 10%) */
  --background2: oklch(23.93% 0.000 89.88);  /* hsl(210, 20%, 8%) */
  --foreground: oklch(92.52% 0.009 17.31);  /* hsl(220, 13%, 95%) */
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);  
  --radius-full: 9999px;



  /* my custom values */

  --font-roboto: var(--font-roboto);
  --font-futura-medium: var(--font-futura-medium);
  --font-futura-heavy: var(--font-futura-heavy);
  
  --text-small: min(4vw, 0.8rem);
  --text-body:  min(4vw, 1rem);
  --text-normal: min(6vw, 1.5rem);
  --text-medium: min(8vw, 2rem);
  --text-medium-2: min(8vw, 2.5rem);
  --text-subheading: min(10vw, 2.8rem);
  --text-heading: min(10vw, 4rem);


  --text-large: min(14vw, 4.8rem);
  --text-xlarge: min(16vw, 5.4rem);


   --gap-xxs: min(2vw, 0.25rem);
  --gap-xs: min(4vw, 0.5rem);
  --gap-sm: min(6vw, 1rem);
  --gap-sm-1: min(6vw, 1.2rem);
  --gap-sm-2: min(6vw, 1.8rem);
  --gap-md: min(10vw, 3.2rem);
  --gap-md-2: min(10vw, 3.8rem);
  --gap-md-3: min(10vw, 4rem);
  --gap-lg: min(12vw, 6rem);;
  --gap-xl: min(12vw, 8rem);
  --gap-xxl: min(12vw, 12rem);
  --gap-xxxl: min(14vw, 14rem);


}


@layer base {
  * {
    @apply border-border outline-ring/50 ;
  }
  html, body {
    transition: background-color 1s ease, color 1s ease, stroke 1s ease;
    @apply bg-background text-foreground 
    font-roboto font-medium
  }
  body{
    @apply  flex flex-col overflow-x-hidden;
  }
}

@layer utilities{

  .flexItemsCenter{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

        .bodyWrapper{
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          background: radial-gradient(circle, var(--background) 80%, var(--background2) 100%);
          margin: 0;
          transition: all .5s ease
        }

      .textHero{
        color: var(--foreground);
        font-size: var(--font-xlarge);
        font-family: var(--font-futura-heavy);
        line-height: var(--line-tight);
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .5px;
       }

      .titleText{
        color: var(--foreground);
        font-size: var(--font-heading);
        font-family: var(--font-futura-heavy);
        line-height: var(--line-tight);}

        .subTitleText{
          color: var(--foreground);
          font-size: var(--font-subheading);
          font-weight: 600;
          font-family: var(--font-futura-medium);
          line-height: var(--line-tight);
        }

           .subTitleText2{
          color: var(--foreground);
          font-size: var(--font-medium);
          font-weight: 400;
          font-family: var(--font-futura-medium);
          line-height: var(--line-tight);
        }


        .bodyText{
          color: var(--foreground);
          font-size: var(--font-body);
          font-family: var(--font-roboto);
          line-height: var(--line-normal);
        }

        .mutedText{
          color: var(--muted-foreground);
          font-size: var(--font-body);
          font-family: var(--font-roboto);
          line-height: var(--line-normal);
        }

        .smallText{
          font-size: var(--font-small);}



          
.gradient {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  filter: blur(14rem);
  position: absolute;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle at 50% 50%, #ff00ea 0%, #00f0ff 100%);
  opacity: 0.7;
  pointer-events: none;
  z-index: 40;
}

@keyframes orbit {
  0% {
    top: 0%;
    left: 0%;
  }
  25% {
    top: 0%;
    left: 80%;
  }
  50% {
    top: 80%;
    left: 80%;
  }
  75% {
    top: 80%;
    left: 0%;
  }
  100% {
    top: 0%;
    left: 0%;
  }
}

@keyframes sheen {
  0% {
    opacity: 0;
    left: -75%;
  }
  50% {
    opacity: 1;
    left: 110%;
  }
  100% {
    opacity: 0;
    left: 110%;
  }
}

.group:hover .animate-sheen,
.group:focus .animate-sheen {
  opacity: 1;
  animation: sheen 1s linear forwards;
}
}


.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet-control-attribution {
  font-size: 9px;
}




.gradient-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-radius: 140px;
}
