# .dockerignore

# Exclude IDE files
**/.idea/
**/*.iml
**/.vscode/

# Exclude build outputs
**/build/
**/.gradle/

# Exclude Git
**/.git/
**/.gitignore

# Exclude local configs
**/*.properties
**/*.env

# BUT ALLOW Gradle Wrapper files (DO NOT exclude these!)
# !gradle/wrapper/gradle-wrapper.jar  <-- Don't uncomment this (just showing it should NOT be ignored)
# !gradlew                           <-- Don't uncomment this
# !gradlew.bat                       <-- Don't uncomment this