NEXT_PUBLIC_MAP_STYLE=https://tiles.openfreemap.org/styles/liberty

NEXT_PUBLIC_USER_COOKIE_NAME=userDeskToken


NEXT_PUBLIC_SPRING_LOCAL_USER_SIGNUP_BACKEND=http://localhost:8102/v1/auth/user/new-user/join-us
NEXT_PUBLIC_SPRING_LOCAL_USER_LOGIN_BACKEND=http://localhost:8102/v1/auth/user/welcome-back


NEXT_PUBLIC_SPRING_COOKIE_VALIDATE=http://localhost:8102/v1/auth/user/validate-cookie
NEXT_PUBLIC_SPRING_GET_MY_DATA=http://localhost:8102/v1/auth/user/get-me

NEXT_PUBLIC_USER_LOG_OUT=http://localhost:8102/v1/auth/user/log-out

NEXT_PUBLIC_NOTIFICATION_BASE_URL=http://localhost:8102/v1/user/notifications



NEXT_PUBLIC_VEHICLES_BASE_URL=http://localhost:8102/v1/user/vehicle
NEXT_PUBLIC_USER_DISPATCH_BASE_URL=http://localhost:8102/v1/user/dispatch
NEXT_PUBLIC_USER_TRACKING_BASE_URL=http://localhost:8102/v1/user/tracking

BASE_URL=BASE_URL=http://localhost:8102


NEXT_PUBLIC_COST_PER_DAY=500
